<template name="snippet">
<section class="experiment">
            <section>
                <span>
                    Private ??
                    <a href="" target="_blank" title="Open this link in new tab. Then your room will be private!">
                        <code>
                            <strong id="unique-token">#123456789</strong>
                        </code>
                    </a>
                </span>

                <input type="text" id="conference-name">
                <button id="setup-new-conference" class="setup">Setup New Conference</button>
            </section>

            <!-- list of all available broadcasting rooms -->
            <table style="width: 100%;" id="rooms-list"></table>

            <!-- local/remote videos container -->
            <div id="videos-container"></div>
        </section>
</template>

